.app_background {
  position: static;
  font-family: "proxima-soft", "Proxima Soft", "Proxima Nova Soft", Helvetica,
    Arial, sans-serif;
  font-size: 40px;
  font-weight: bold;
  padding: 25px;
  color: black;
}

.particles {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh;
}
