html,
body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  vertical-align: bottom;
}

.container {
  background-color: black;
  color: #ebd9e6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh;
}
.inner_container {
  position: relative;
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  font-weight: bold;
  padding: 25px;
  color: #ebd9e6;
}
