$link: #d0a7c6;
$link-hover: #b575a6;

.body {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.6;
}

.header {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.6;
}

.outer_container {
  position: relative;
  flex-wrap: wrap;
  margin: auto;
  text-align: center;
  justify-content: center;
  width: 60%;
  color: #ebd9e6;
  top: 200px;
  font-family: "Consolas", "Courier New";
}

a,
a:visited {
  color: $link;
  transition: 0.25s;
}
a:hover,
a:focus {
  color: $link-hover;
}

@media screen and (max-width: 1200px) {
  .outer_container {
    top: 100px;
  }
  .header {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.6;
  }
  .body {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.6;
  }
}
