.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navContainer ul li {
  margin: 20px;
  pointer-events: auto;
}
.navContainer {
  color: #fff;
}

.navContainer:hover {
  text-align: center;
}
