.body {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.6;
}

.header {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.6;
}

.outer_container {
  position: relative;
  color: #ebd9e6;
  margin: auto;
  text-align: center;
  justify-content: center;
  width: 60%;
  padding: 200px 10px;
  font-family: "Consolas", "Courier New";
}
